# Exclude minified JavaScript files from GitHub language statistics (JS Libraries / Frameworks) 
static/js/lib/*.min.js linguist-vendored=true
static/js/lib/*.min.js linguist-generated=true
*.min.js linguist-vendored=true
*.min.js linguist-generated=true



